.login-header {
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}

.login-header {
    position: relative;
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
    border-radius: 0em;
}

.login-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #ff6ec4;
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.logo-img {
    display: block;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
}

.forget-password {
    color: #000;
    font-size: 13px;
}

.ion-button-class {
    margin-top: 30px;
    background: linear-gradient(0deg, rgba(109, 71, 217, .92), rgba(82, 62, 232, .92)) !important;
    border-radius: 30px;
}

.login-form {
    margin-top: 50px;
}

.login-form::after {
    content: "";
    bottom: 0px;
    right: -80px;
    position: absolute;
    background-color: #eee;
    height: 120px;
    width: 120px;
    border-radius: 100%;
}