.registration-header {
    background: var(--theme-color);
}

.registration-header {
    position: relative;
    background: var(--theme-color);
    border-radius: 0em;
}

.registration-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--theme-color);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;

}

.logo-img {
    display: block;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;

}

.ion-button-class {
    margin-top: 30px;
}

.registration-form {
    margin-top: 50px;
}

.registration-form::after {
    content: "";
    bottom: 0px;
    right: -80px;
    position: absolute;
    background-color: #eee;
    height: 120px;
    width: 120px;
    border-radius: 100%;

}